.header-wrapper{
  width:100%;
}
.light-gray{
  fill: #bababa;
  color: #bababa;
}
mat-toolbar{
  margin-bottom: 0 !important;
  padding-bottom: .5em;
}
.mat-icon-button{
  height: 7vh !important;
  width: 7vh !important;
}
.mat-icon{
  height: 6vh !important;
  width: 6vh !important;
}
mat-toolbar{
  background: #434945;
  /*temp*/
  margin-bottom: 25px;
}

.enviro {
  display: inline-flex;
  height: 2.5em;
  line-height: 40px;
  margin-left: 1em;
}
.enviro>.text{
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin:auto;
}
.enviro>.logo{
  margin-right: 5px;
  height: 100%
}
.routing-links{
  height: 32px;
}
.routing-links>button:not(:last-child){
  margin-right: .25em;
}

