
<div class="body">
  <mat-card>
    <mat-card-title>
      Sources
    </mat-card-title>
    coming soon
  </mat-card>
</div>
<!--
  DATA:
	http://www.cdp.net -> for data access
  https://data.cdp.net/Companies/2013-Global-500-Emissions-and-Response-Status/marp-zazk -> Marp Zaza and Andrew Hammond
  https://data.cdp.net/Companies/2012-Global-500-Emissions-and-Response-Status/4hek-p74b -> Andrew Hammond
  NEEDS IMPLEMENTATION:
  https://data.cdp.net/Companies/2014-Forests-Risk-Assessment/5fxz-29mk -> Andrew Hammond
  https://data.cdp.net/Companies/William-1/p6b6-5n7p -> William

  LOGO:
    https://instagram.com/rxsandraa?igshid=1s11rrf2ijc7p -> Ruxandra
-->

