.dropdown-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    vertical-align:middle;
}
.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    background: #616161;
    border-radius: 5px;
}
