<div style="margin: 5px;">
    **NOTE THIS COLOR SCHEME IS TEMP** want to make a working model before styleing
</div>

<table>
    <tr class="table-header">
        <th>
            Company Name
        </th>
        <th>
            Company Location
        </th>
        <th>
            Year Reported
        </th>
        <th>
            Rating
        </th>
    </tr>
    <tr *ngFor="let company of company_info">
        <td>
            {{company.company_name}}
        </td>
        <td>
            {{company.country}}
        </td>
        <td>
            {{company.reporting_year}}
        </td>
        <td>
            <span *ngIf="company.disclosure_score">{{company.disclosure_score}}%</span>
            <span *ngIf="!company.disclosure_score">Not given</span>
        </td>
    </tr>
</table>